mat-card.mat-card {
  width: 19%;
  display: inline-grid;
  height: 350px;
  margin: 1%;
}
mat-card.mat-card.admin-mode{
  height: 390px;
}
.product-list__item-image {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.product-list__item-description {
  text-align: justify;
  margin-top: 10px;
}

mat-card-content.mat-card-content {
  height: 300px;
}

